.left-nav {
    top: 0;
    left: 0;
    background-color: #292929;
    height: 100vh;
    width: 15vw;
    padding: 10px;
    position: fixed;
    z-index: 100000;
}

.left-nav.list {
    width: 100vw;
    margin-top: 0;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #292929;
    border: solid 1px #94692D;
    color: #94692D;
    font-weight: bold;
    margin-bottom: 20px;
}
.chip img {
    float: left;
    margin: -10px 10px 0 -35px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: white;
}

.chip a {
    color: #94692D;
    font-size: small;
}

.list {
    margin-top: 20px;
    overflow: auto;
}

.list a:hover {
    color:#94692D;
}

.left-nav-item {
    cursor: pointer;
}

.left-nav-item.selected {
    color:#94692D;
}

input[type="text"] {
    border-radius: 10px;
    padding: 10px;
    width: 80%;
}

@media only screen and (max-width: 950px) {
    .chip a {
        font-size: x-small;
    }
}

@media only screen and (max-width: 800px) {
    .chip img {
        height: 50px;
        width: 50px;
        margin: -5px 5px 0 -25px;
    }

    .chip {
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        border-radius: 25px;
        align-items: center;
        font-size: 3vw;
    }

    .left-nav {
        width: 50px;
        padding: 5px;
    }

    .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    input[type="text"] {
        width: 75%;
    }
}