.pagination {
    display: flex;
    gap: 5px;
    margin-top: 20px;
    justify-content: center;
}

.pagination button {
    padding: 5px 10px;
    cursor: pointer;
    border: solid 1px #94692D;
    color: white;
    background-color: transparent;
    border-radius: 20px;
}

.pagination button.active {
    font-weight: bold;
    background-color: #94692D;
    color: black;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
