label {
    margin-right: 10px;
}

.time-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="range"] {
    flex: 1;
    accent-color: #94692D;
}

#play-pause {
    color: #94692D;
}

canvas {
    height: 100px;
    width: 100%;
}
